h3,h4{
    color: rgb(7, 7, 114);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
form{
    font-family: 'Times New Roman', Times, serif;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
button{
    margin:0 50%;position:relative;left:-50px;
    background-color: rgb(0, 106, 199);
}
button:hover{
    background-color: rgb(0, 34, 171);
}

