<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<app-navbar></app-navbar>
<body>
    <div class="bg">
        <div class="container">
            <div class="text">
                <h1>Developed By</h1>
                <div class="developers">
                    <h3>Ronak Swayam</h3>
                    <h3>Durgaprasad Munduru</h3>
                    <h3>Laxmipriya Kothapalli</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
