<app-navbar></app-navbar>
<h2>Applied Jobs</h2>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Description</th>
            <th>Skill 1</th>
            <th>Skill 2</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let jobpost of appliedjobs">
            <td>{{jobpost.title}}</td>
            <td>{{jobpost.company}}</td>
            <td>{{jobpost.desc}}</td>
            <td>{{jobpost.tech1}}</td>
            <td>{{jobpost.tech2}}</td>
        </tr>
    </tbody>
</table>
<form>
<button (click)="onClick()" class="btn btn-primary">Home</button>
</form>

